// Typography
// ------------------------------------------------


// Setting root sizes and base styles.
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  @include rootsize-0;
  @include at-breakpoint($narrow) {
    @include rootsize-1;
  }

  @include at-breakpoint($narrow-only) {
    @include rootsize-2;
  }
  @include at-breakpoint($narrow-max) {
    @include rootsize-3;
  }
  @include at-breakpoint($wide) {
    @include rootsize-4;
  }
}

// Site-wide base styles.
body {
  line-height: 2rem;
  font-family: $sans-serif;
  font-style: normal;
  font-weight: 400;
  @include fontsize-0(16);
  @include at-breakpoint($narrow) {
    @include fontsize-1(17);
  }
  @include at-breakpoint($narrow-only) {
    @include fontsize-2(18);
  }
  @include at-breakpoint($narrow-max) {
    @include fontsize-3(20);
  }
  @include at-breakpoint($wide) {
    @include fontsize-4(22);
  }
}

// Links.
a {
  @include transition(color .1s);
  color: $red;
  margin: 0 1px 0 0;
  text-decoration: none;
  &:hover, &:active, &:focus {
    color: $blue;
    text-decoration: none;
  }
}

// Paragraphs. OpenType ligatures and oldstyle figures enabled if available.
p {
  -webkit-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  -moz-font-feature-settings: 'kern=1, onum=1, liga=1';
  -ms-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  -o-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  margin-bottom: 2rem;
}

// Headings. OpenType ligatures, discretionary ligatures and lining figures enabled if available.
h1, h2, h3, h4, h5, h6 {
  -webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -moz-font-feature-settings: 'dlig=1, liga=1, lnum=1, kern=1';
  -ms-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -o-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  color: $red;
  font-family: $sans-serif;
  font-style: normal;
  font-weight: 700;
}

// Heading level 1.
h1, .alpha {
  padding-top: 1rem;
  line-height: 3rem;
  @include fontsize-0(28);
  @include at-breakpoint($narrow) {
    @include fontsize-1(30);
  }
  @include at-breakpoint($narrow-only) {
    @include fontsize-2(32);
  }
  @include at-breakpoint($narrow-max) {
    @include fontsize-3(36);
  }
  @include at-breakpoint($wide) {
    @include fontsize-4(40);
  }
}

// Heading level 2.
h2, .beta {
  padding-top: 1rem;
  @include fontsize-0(22);
  @include at-breakpoint($narrow) {
    @include fontsize-1(24);
  }
  @include at-breakpoint($narrow-only) {
    @include fontsize-2(26);
  }
  @include at-breakpoint($narrow-max) {
    @include fontsize-3(30);
  }
  @include at-breakpoint($wide) {
    @include fontsize-4(34);
  }
}

// Heading level 3.
h3, .gamma {
  padding-top: 1rem;
  @include fontsize-0(20);
  @include at-breakpoint($narrow) {
    @include fontsize-1(22);
  }
  @include at-breakpoint($narrow-only) {
    @include fontsize-2(24);
  }
  @include at-breakpoint($narrow-max) {
    @include fontsize-3(28);
  }
  @include at-breakpoint($wide) {
    @include fontsize-4(30);
  }
}

// Heading level 4.
h4, .delta {
  padding-top: 1rem;
  @include fontsize-0(18);
  @include at-breakpoint($narrow) {
    @include fontsize-1(20);
  }
  @include at-breakpoint($narrow-only) {
    @include fontsize-2(22);
  }
  @include at-breakpoint($narrow-max) {
    @include fontsize-3(26);
  }
  @include at-breakpoint($wide) {
    @include fontsize-4(28);
  }
}

// Heading level 5.
h5, .epsilon {
  padding-top: 1rem;
  @include fontsize-0(17);
  @include at-breakpoint($narrow) {
    @include fontsize-1(19);
  }
  @include at-breakpoint($narrow-only) {
    @include fontsize-2(21);
  }
  @include at-breakpoint($narrow-max) {
    @include fontsize-3(24);
  }
  @include at-breakpoint($wide) {
    @include fontsize-4(26);
  }
}

// Heading level 6.
h6, .zeta {
  padding-top: 1rem;
}

// Nice spacing after high level headings and images. Text sits directly below h4, h5 and h6.
h1 + p, h1 + ol, h1 + ul, h1 + blockquote p, h1 + pre,
.alpha + p, .alpha + ol, .alpha + ul, .alpha + blockquote p, .alpha + pre,
h2 + p, h2 + ol, h2 + ul, h2 + blockquote p, h2 + pre,
.beta + p, .beta + ol, .beta + ul, .beta + blockquote p, .beta + pre,
img + p, img + ol, img + ul, img + blockquote p, img + pre {
  margin-top: 2rem;
}

// Remove padding-top from first heading
section > .container > :first-child {
  padding-top: 0;
}

// Lists.
ul, ol {
  margin-bottom: 2rem;
  li {
    -moz-font-feature-settings: 'kern=1, onum=1, liga=1';
    -ms-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
    -webkit-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
    -o-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
    font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
    margin-left: 2rem;
    @include at-breakpoint($narrow) {
      margin-left: 0;
    }
    a {
      color: $red;
      &:hover, &:active, &:focus {
        color: $blue;
      }
    }
  }
}

// Bold.
b, strong, .bold {
  font-weight: 600;
}

// Italic.
em, i, .italic {
  font-style: italic;
}

// Caption or inline small text.
small, .caption {
  font-family: $sans-serif;
  @include fontsize-0(12);
  @include at-breakpoint($narrow) {
    @include fontsize-1(14);
  }
  @include at-breakpoint($narrow-only) {
    @include fontsize-2(16);
  }
  @include at-breakpoint($narrow-max) {
    @include fontsize-3(17);
  }
  @include at-breakpoint($wide) {
    @include fontsize-4(18);
  }
}

// Nice spacing for captions.
h1 + .caption, .alpha + .caption, h2 + .caption, .beta + .caption, h3 + .caption, .gamma + .caption, img + .caption {
  margin-top: 0;
}

// Quotes.
blockquote {
  p {
    font-style: italic;
    padding-left: 2rem;
    border-left: 0.5rem solid;
  }
}

// Horizontal rule.
hr {
  color: darken($blue,20%);
  background-color: darken($blue,20%);
  border: 0;
  border-bottom: 1px solid darken($blue,20%);
  margin-top: 3rem;
  margin-bottom: 3rem;
}

// Code block. Some styles from normalize included.
code, pre {
  background-color: $blue;
  color: $white;
  font-family: $code-font;
}

pre {
  border-radius: 0.5rem;
  display: block;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  margin-bottom: 2rem;
  padding: 1rem;
}

pre code {
  @include fontsize-0(12);
  @include at-breakpoint($narrow) {
    @include fontsize-1(14);
  }
  @include at-breakpoint($narrow-only) {
    @include fontsize-2(16);
  }
  @include at-breakpoint($narrow-max) {
    @include fontsize-3(17);
  }
  @include at-breakpoint($wide) {
    @include fontsize-4(18);
  }
}

// Letter space those capitals people, Jan Tschichold would be proud.
.upper {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

// Real small caps.
.small-caps {
  -moz-font-feature-settings: 'smcp=1, kern=1';
  -ms-font-feature-settings: 'smcp' 1, 'kern' 1;
  -webkit-font-feature-settings: 'smcp' 1, 'kern' 1;
  -o-font-feature-settings: 'smcp' 1, 'kern' 1;
  font-feature-settings: 'smcp' 1, 'kern' 1;
  letter-spacing: 0.1rem;
}

// Consistent height numbers with OpenType.
.lining-numerals {
  -moz-font-feature-settings: 'lnum=1, kern=1';
  -ms-font-feature-settings: 'lnum' 1, 'kern' 1;
  -webkit-font-feature-settings: 'lnum' 1, 'kern' 1;
  -o-font-feature-settings: 'lnum' 1, 'kern' 1;
  font-feature-settings: 'lnum' 1, 'kern' 1;
}

// Ascending and descending numbers with OpenType.
.oldstyle-numerals {
  -moz-font-feature-settings: 'onum=1, kern=1';
  -ms-font-feature-settings: 'onum' 1, 'kern' 1;
  -webkit-font-feature-settings: 'onum' 1, 'kern' 1;
  -o-font-feature-settings: 'onum' 1, 'kern' 1;
  font-feature-settings: 'onum' 1, 'kern' 1;
}
