// Functions for px to em conversions
// ------------------------------------------------------------

@function pxtoem($target, $context) {
   @if $target == 0 { @return 0 }
   @return $target / $context + 0em;
}

// Make px to ems using base-font-size
// echo as: font-size: em-font(#px);

@function em-font($target, $context: $base-font-size) {
   @return pxtoem($target, $context);
}


// Make px to ems using base-line-height
// echo as: font-size: em-base(#px);

@function em-base($target, $context: $base-line-height) {
   @return pxtoem($target, $context);
}

@function calculateRem($size) {
  $remSize: $size / $base-font-size;
  @return $remSize * 1rem;
}