// images

img {
max-width: 100%;
border-width: 0;
vertical-align: middle;
-ms-interpolation-mode: bicubic;
}

.img-rounded {
	border-radius: 5px;
}

.img-polaroid {
	padding: $gutter-width / 2;
	background-color: $white;
	border: 1px solid gray;
	box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

.img-circle {
	border-radius: 50%;
}

// figure

figure {
	margin-bottom: $base-line-height;

	img {
		margin-bottom: $base-line-height / 4;
	}

	figcaption {
		display : block;
		font-weight : normal;
		font-style : italic;
		color : $off-black;
	}
}