.pagination {
	margin-bottom: $base-line-height;
	> ul {
		@include zero;
		list-style: none;
		> li {
			display: inline;
			> a {
				background: $link-color;
				color: white;
				padding: 4px 11px;
				text-decoration: none;
				@include transition(all 0.3s);
				&:hover {
					background: $white;
					color: $link-color;
					}
			}
		}
	}
}

.pagination--centered {
	text-align: center;
}