.pills {
	list-style-type: none;
	margin: 0 0 $base-line-height 0;
	padding: 0;
	@include clearfix;

	> li {
		float: left;
		> a {
			display: block;
			margin: 2px 2px 2px 0;
			line-height: 14px;
			padding: 8px 11px;
			border-radius: $border-radius * 4;
			color: $link-color;
			text-decoration: none;
			@include transition(all 0.3s);
			&:hover {
				color: $white;
				background-color: $link-color;
			}
		}
	}

	> .active {
		> a, a:hover {
			color: $white;
			background-color: $link-color;
		}
	}
}

